<!DOCTYPE html>
<html>

<head>
    <title>MTA Bus Alerts</title>
    <link rel="canonical" href="https://mtabusalerts.com">
    <script src="js/main.js" type="text/javascript" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>

<body onload="addEventToDetectRouteEdit()">
    {% if alert is defined %}
        <div id="alert" class="{{ alert.goodOrBad }}">{{ alert.message }}</div>
    {% endif %}
    <div class="content">
        <h1>MTA Bus Alerts</h1>
        <img src="img/bus.webp" alt="mta bus" width="570" height="280">
        <form id="bus-search" action="/getbusstops">
            <input class="textbox" type="text" id="busCommonName" name="commonName" placeholder="Bus Route" required></input>
            <div id="possible-buses"></div>
            <button class="buttonstyle" type="submit" value="Submit">Submit</button>
        </form>
        <section id="stops">
            <h2 id="route-display">{{ routeName }}</h2>
            {% for destination in destinations %}
                <section id="{{ destination }}">
                    <h3>{{ destination }}</h2>
                    <ul>
                    {% for stop in stops[destination] %}
                        <li id="{{stop.code}}" onclick="clickedOnBusStop(this)">{{stop.name}}</li>
                    {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </section>
        <h5 id="busLine" name="{{ routeID }}">Bus Line: {{ routeName }}</h5>
        <h5 id="busStop">Bus Stop: </h5>
        <form action="/alert" onsubmit="return hasUserProvidedContact()" id="alert-form" name="alert" method="post">
            <div class="input-section">
                <input class="textbox" type="text" name="busLineID" placeholder="Bus Line" id="busLineID" value="{{ routeID }}" required readonly>
            </div>
            <div class="input-description">Official ID of the bus route. It gets filled automatically by clicking Submit above.</div>
            <div class="input-section">
                <input class="textbox" type="text" name="busStopID" placeholder="Bus Stop" id="busStopID" required readonly>
            </div>
            <div class="input-description">Official ID of the bus stop. It gets filled automatically after clicking on a bus stop in the list.</div>
            <div class="input-section" id="minutes-wrapper">
                <input class="textbox" type="number" name="number" min="1" pattern="^\d+$" title="must be a positive whole number" placeholder="Number" required>
                <div>
                    <input type="radio" id="minutes" name="units" value="minutes" checked>
                    <label for="minutes">minutes</label>
                </div>
                <div>
                    <input type="radio" id="bus stops" name="units" value="bus stops">
                    <label for="bus stops">bus stops</label>
                </div>
            </div>
            <div class="input-description">Minutes/Bus stops before the bus arrives when you want to receive an alert. Choose between 'minutes' and 'bus stops'.</div>
            <!-- add back the required for phone and email later!!!! -->
            <div class="input-section">
                <input class="textbox" type="tel" name="phone" placeholder="Phone Number" pattern="^\+1\d{10}$" title="Phone numbers must begin with +1 followed by the ten digits of the number (area code then seven digits). No spaces and other special characters like parentheses ().">
            </div>
            <div class="input-description">Phone number should be of the format +1XXXXXXXXXX (that's ten digits after the 1)</div>
            <div class="input-section">
                <input class="textbox" type="email" name="email" placeholder="Email Address" >
            </div>
            <button id="submit-alert" class="buttonstyle" type="submit">Set up alert</button>
        </form>
    </div>
</body>

</html>