<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>MTA Bus Alerts - Set Up Alert</title>
  <meta name="description" content="Set up all of the information related to your bus alert. Here you provide what stop you want to track, when you would like to receive the alert, and how we should contact you." />
  <link rel="canonical" href="https://mtabusalerts.com/">
  <link rel="icon" href="img/favicon.png" type="image/x-icon" />
  <script src="js/main.js" type="text/javascript" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body onload="addEventListeners()">
  <dialog id="help-popup">
    <h2>To set up an alert:</h2>
    <ol>
      <li>
        <section>
          <p>Write the name of your bus route, then select it from the dropdown menu or press 'Submit'.</p>
          <img class="help-image" src="img/help1.png" alt="Type your bus route and select it from the menu"/>
        </section>
      </li>
      <li>
        <section>
          <p>Select your bus stop. Stops are organized by destination, so you may need to scroll down a bit to find your stop.</p>
          <img class="help-image" src="img/help2.png" alt="Select your bus stop"/>
        </section>
      </li>
      <li>
        <section>
          <p>Enter your alert information.</p>
          <p>You can specify the alert time by minutes or bus stops. For example, you can set up an alert for when the bus is less than 4 minutes away or less than 6 stops away. Select 'minutes' or 'bus stops' to change the units.</p>
          <p>Provide your phone number to receive a text or your email address to receive an email.</p>
          <p>Press 'Set up alert'.</p>
          <img class="help-image" src="img/help3.png" alt="Specify when you want to receive the alert and provide contact information"/>
        </section>
      </li>
    </ol>
    <div id="end-dialog">
      <button>Close</button>
    </div>
  </dialog>
  <button class="buttonstyle" id="open-help">Help</button>
  <form action="/alert" onsubmit="return hasUserProvidedContact()" id="alert-form" name="alert" method="post">
    <div id="busRoute">Bus Route: {{ routeName }}</div>
    <div id="busStop">Bus Stop: {{ stopName }}</div>
    <div class="hidden">
      <input class="textbox" type="text" name="busRouteID" placeholder="Bus Line" id="busRouteID" value="{{ routeID }}"
        required readonly>
      <input class="textbox" type="text" name="busStopID" placeholder="Bus Stop" id="busStopID" value="{{ stopID }}"
        required readonly>
    </div>
    <div class="input-section" id="minutes-wrapper">
      <input class="textbox" type="number" name="number" min="1" pattern="^\d+$" title="must be a positive whole number"
        placeholder="Number" required>
      <div>
        <input type="radio" id="minutes" name="units" value="minutes" checked>
        <label for="minutes">minutes</label>
      </div>
      <div>
        <input type="radio" id="bus stops" name="units" value="bus stops">
        <label for="bus stops">bus stops</label>
      </div>
    </div>
    <div class="input-section">
      <input class="textbox" type="tel" name="phone" placeholder="Phone Number" autocomplete="tel" pattern="^(?:\+1[-. ]?)?\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"
        title="Phone numbers must follow one of the formats in the following list (though this list is not exhaustive): (xxx) xxx-xxxx, xxx-xxx-xxxx, +1 (xxx) xxx-xxxx.">
    </div>
    <div class="input-section">
      <input class="textbox" type="email" name="email" autocomplete="email" placeholder="Email Address">
    </div>
    <button id="submit-alert" class="buttonstyle" type="submit">Set up alert</button>
  </form>
  <form action="/">
    <button class="buttonstyle">Back to home</button>
  </form>
</body>

</html>