:root {
    --main-bg-color: rgb(15,66,143);
    --main-text-color: rgb(255, 170, 95);
    --input-bg-color: #4eb5f1;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#open-help {
    position: fixed;
    top: 0.25rem;
    right: 0.5rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1.2em;

    /* to avoid help button being covered by another element */
    z-index: 100;
}

#alert {
    position: fixed;
    text-align: center;
    color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 20px;
    height: 20vh;
    font-size: 2em;
    border-radius: 1%;
    opacity: 0;
    animation: fade 4s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#alert.good {
    background-color: rgb(159, 227, 147);
}

#alert.bad {
    background-color: rgb(240, 21, 43);
}

.textbox {
    background-color: var(--input-bg-color);
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.buttonstyle {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: var(--input-bg-color);
    text-align: center;
    transition: all 0.2s;
}

button, input {
    color: black;
}

.buttonstyle:hover {
    background-color: #3573CA;
}

@media all and (max-width:30em) {
    .buttonstyle {
        display: block;
        margin: 0.2em auto;
    }
}

#stops {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stops section ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stops a {
    color: white;
}

#stops a:hover {
    color: gray;
}

#alert-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

#busRoute, #busStop {
    font-size: 2rem;
}

input.textbox {
    width: 95%;
    font-size: 1.25rem;
    height: 1.5em;
}

.hidden {
    position: absolute;
    opacity: 0;
}

#bus-search {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
}

#possible-buses {
    background-color: white;
    margin-bottom: 20px;
}

.possible-route {
    border: solid 1px gray;
    margin: 0px;
}

.possible-route:hover {
    background-color: gray;
}

#help-popup {
    background-color: var(--main-text-color, orange);
    width: min-content;
    overflow-x: hidden;
}

#help-popup ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.help-image {
    height: 80vh;
    margin-left: -1.5rem;
}

#help-popup ol {
    gap: 2rem;
}

#end-dialog {
    position: sticky;
    width: 120%;
    bottom: -1rem;
    margin-left: -1rem;
    background-color: var(--main-text-color, orange);
    height: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

#end-dialog button#close {
    margin-left: -2rem;
    width: 8rem;
    height: 2rem;

    grid-column: 2 / 3;
}